{% extends 'base.html' %}
{% block content %}
           <!-- Page Content -->
        <div class="container">

            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Furniture Show</h1>
        
            <hr class="mt-2 mb-5">
            <div class="row text-center text-lg-left">  
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/pexels-martin.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/pexels-martin1.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/pexels-martin2.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/chair1.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/chair2.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/chair3.jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ url_for ('static', filename = 'Images/slide (2).jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{url_for ('static', filename = 'Images/slide (3).jpg')}}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{url_for ('static', filename = 'Images/slide (5).jpg')}}" alt="Showroom chair pics">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{url_for ('static', filename = 'Images/slide (6).jpg')}}" alt="Not availed">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{url_for ('static', filename = 'Images/slide (8).jpg')}}" alt="Not availed">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{url_for ('static', filename = 'Images/slide (9).jpg')}}" alt="Not availed">
                </a>
            </div>
            </div>
        
        </div>
        
    </body>
</html>

{% endblock %}